:root {
    --primary-color: #f0f0f0;
    --secondary-color: #222224;
    --tertiary-color: #ee1515;
}

.container {
    background-color: var(--primary-color);

    height: 100vh;
    width: 100vw;

    display: flex;
}

.imagens {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.banner {
    height: 65px;
    padding: 0px 25px;
}

.banner2 {
    height: 55px;
}

.title {
    margin: 10px 15px;
}

.leftContainer {
    background-color: var(--tertiary-color);

    align-items: center;
    flex-direction: column;
    justify-content: center;

    height: 100vh;
    width: 100vw;

    display: flex;
}

.rightContainer {
    background-color: var(--secondary-color);

    align-items: center;
    flex-direction: column;
    justify-content: center;

    height: 100vh;
    width: 100vw;

    display: flex;
}

form {
    background-color: transparent;
    width: 80%;
    padding: 30px 15px;
    margin: 15px 0px;
    border: 1px solid azure;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}

input {
    color: var(--tertiary-color);
    border: 0 none;
    outline: 0;

    height: 30px;
    width: 25rem;
    padding: 0px 0px 0px 10px;
    margin: 10px 5px;

    font-size: 16px;
    border-radius: 10px;
    text-transform: lowercase
}

button {
    color: azure;
    width: 40%;
    height: 30px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid azure;
    cursor: pointer;
    margin: 15px 0px;
}

label {
    font-weight: bold;
    font-size: x-large;
    margin: 15px 0px;
}

.boxContainer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 100%;
    height: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.boxContainer h1 {
    color: var(--secondary-color);
}
.boxContainer div {
    color: var(--secondary-color);
}

.boxContainer2 {
    background-color: transparent;
    width: 100%;
    height: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.outMap2 {
    color: var(--secondary-color);
    width: 90%;
    height: 55%;
    max-height: 60%;
    overflow-y: scroll;
    padding: 5px 15px;

    display: flex;
    flex-direction: column;
}

.inMap2 {
    color: var(--secondary-color);
    width: 95%;

    padding: 10px 10px;
    margin: 5px 0px;
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
}

.outMap {
    width: 90%;
    height: 55%;
    max-height: 60%;
    overflow-y: scroll;
    padding: 5px 15px;

    display: flex;
    justify-content: flex-start;
    flex-direction: column-reverse;
}

.inMap {
    width: 95%;

    padding: 10px 10px;
    margin: 5px 0px;
    display: flex;
    justify-content: space-between;
    border: 1px solid azure;
    border-radius: 10px;
}

.table {
    width: 85%;

    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.titleDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.titleDiv button {
    color: var(--secondary-color);
    min-width: 65px;
    width: 75px;
    height: 30px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid var(--secondary-color);
    cursor: pointer;
}